---
const IMAGEPATH = "/portfolio/"
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialMedia from "../components/SocialMedia.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import TwitterIcon from "../icons/Twitter.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Calendar from "../icons/Calendar.astro";
import Projects from "../components/Projects.astro";
import Code from "../icons/Code.astro";
---

<Layout
	title="Portfolio de Fran Pérez. Desarrollador y Programador Web Backend."
	description="Contrata a Fran Pérez, desarrollador backend con 5 años de experiencia en Java y Spring Boot. Especializado en crear soluciones eficientes y escalables para proyectos diversos, estoy listo para contribuir al éxito de tu equipo."
>
	<main class="text-white max-lg:[1400px]">
		<Container id="about" class="py-44 pb-20">
			<section class="flex gap-x-7">
				<img
					class="rounded-full w-16 h-16 mb-5"
					src=`${IMAGEPATH}profilephoto.webp`
					alt="fran dev"
				/>
				<h1
					class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-2 pb-4 lg:pb-7"
				>
					Hey, I'm Fran Pérez<a
						href="https://linkedin.com/in/franperezfolgado"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge class="text-xs font-medium">Open to work</Badge>
					</a>
				</h1>
			</section>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[560px]">
				<span class="text-yellow-100/80"
					>More than 5 years of experience.</span
				>
				<span class="opacity-80"
					>Backend Developer with Java and Spring Boot. Currently
					learning Frontend.
				</span>
				<span class="text-red-100/90">From Valencia, Spain.</span>
			</h2>
			<nav class="flex gap-2 mt-4 flex-wrap">
				<SocialMedia href="https://linkedin.com/in/franperezfolgado">
					<LinkedInIcon class="size-4 lg:size-6" />LinkedIn
				</SocialMedia>
				<SocialMedia href="https://github.com/FranPerezFolgado">
					<GithubIcon class="size-4 lg:size-6" />Github
				</SocialMedia>
				<SocialMedia href="https://twitter.com/fp__code">
					<TwitterIcon class="size-4 lg:size-6" />Twitter
				</SocialMedia>
				<SocialMedia href="https://twitter.com/fp__code">
					<MailIcon
						class="size-4 lg:size-6"
					/>franperezfolgado@outlook.com
				</SocialMedia>
			</nav>
		</Container>
		<Container id="experience" class="">
			<header
				class="text-2xl font-semibold pb-5 mb-5 mt-5 flex flex-row gap-x-4 items-center"
			>
				<Calendar class="size-6" />
				<h2 class="text-3xl">Work Experience</h2>
			</header>

			<Experience />
		</Container>
		<Container id="projects" class="pt-5">
			<header
				class="text-2xl font-semibold pb-5 mb-5 mt-5 flex flex-row gap-x-4 items-center"
			>
				<Code class="size-6" />
				<h2 class="text-3xl">Projects</h2>
			</header>
			<Projects />
		</Container>
	</main>
</Layout>
